@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);


input[type=text]{
	border-style: solid;
	border-width: 1px;
	border-color: #adadad;
  outline: 0;
  font-size: 1.3rem;
  color: #555555;
  padding: 12px;
  background: transparent;
  transition: border-color 0.2s;
  border-radius:0.40em;
}

input[type=text]:focus{
    border-color:#6ca6c2;
    box-shadow:0 0 4px 0 #6ca6c2;
}

input[type='radio'],
input[type='checkbox'] {
  border-radius:0.50em;
  background-color: #f8f8f8;

}

select {
	border-style: solid;
	border-width: 1px;
	border-color: #adadad;
	font-size: 1.3rem;
  outline: 0;
  color: #555555;
  padding: 12px;
  margin-left:10px;
  transition: border-color 0.2s;
  border-radius:0.40em;
}
	
button, input[type=button], input[type=submit] { 
display:inline-block;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #adadad;
box-sizing: border-box;
text-decoration:none;
font-weight:400;
color:#FFFFFF;
background-color:#6ca6c2;
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
} 

button:focus, input[type=button]:focus, input[type=submit]:focus, button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color:#f8f8f8;
	color:black;
	border-radius:0.15em;
border-style: solid;
border-width: 1px 1px 1px 1px;
border-color: #adadad;
}
input[type=button]:active,button:active,input[type=submit]:active  { 
top:0.1em;
} 
@media all and (max-width:30em){
button, input[type=button], input[type=submit] {
display:block;
margin:0.4em auto;
}
}

* {
 font-size: 100%;
font-family: 'Roboto', sans-serif;
}

.container{
	width:95%;
}

h2 {
	font-size:130%;
}